* {
    outline: none;
}

body {
    height: 100vh;
    font-family: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;
    -webkit-font-smoothing: antialiased;
    background-color: #161616;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #2c3e50;
    background-size: cover;
    opacity: 0.3;
}

.loader, .loader_figure {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loader {
    overflow: visible;
    padding-top: 9.375em;
    height: 0;
    width: 9.375em;
}

.loader_figure {
    height: 0;
    width: 0;
    box-sizing: border-box;
    border: 0 solid #94c9ff;
    border-radius: 50%;
    -webkit-animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loader_label {
    float: left;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0.5em 0 0 50%;
    font-size: 2em;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    color: #ffffff;
    white-space: nowrap;
    -webkit-animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loader_figure.stop {
    -webkit-animation: loader-label 1.15s 1 cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-animation: loader-label 1.15s 1 cubic-bezier(0.215, 0.61, 0.355, 1);
    animation: loader-label 1.15s 1 cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loader_label.stop {
    -webkit-animation: loader-label-stop 1.15s 1 cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-animation: loader-label-stop 1.15s 1 cubic-bezier(0.215, 0.61, 0.355, 1);
    animation: loader-label-stop 1.15s 1 cubic-bezier(0.215, 0.61, 0.355, 1);
}

@-webkit-keyframes loader-figure {
    0% {
        height: 0;
        width: 0;
    }
    30% {
        height: 9.375em;
        width: 9.375em;
        border-width: 4.6875em;
        opacity: 1;
    }
    100% {
        height: 9.375em;
        width: 9.375em;
        border-width: 0;
        opacity: 0;
    }
}
@-moz-keyframes loader-figure {
    0% {
        height: 0;
        width: 0;
    }
    30% {
        height: 9.375em;
        width: 9.375em;
        border-width: 4.6875em;
        opacity: 1;
    }
    100% {
        height: 9.375em;
        width: 9.375em;
        border-width: 0;
        opacity: 0;
    }
}
@keyframes loader-figure {
    0% {
        height: 0;
        width: 0;
    }
    30% {
        height: 9.375em;
        width: 9.375em;
        border-width: 4.6875em;
        opacity: 1;
    }
    100% {
        height: 9.375em;
        width: 9.375em;
        border-width: 0;
        opacity: 0;
    }
}
@-webkit-keyframes loader-label {
    0% {
        opacity: 0.35;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 0.35;
    }
}
@-webkit-keyframes loader-label-stop {
    100% {
        opacity: 0;
    }
}
@-moz-keyframes loader-label {
    0% {
        opacity: 0.35;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 0.35;
    }
}
@keyframes loader-label {
    0% {
        opacity: 0.35;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 0.35;
    }
}





.join {
    position: absolute;
    z-index: 999999;
    height: 120px;
    width: 550px;

    top: calc(50% - 60px);
    left: calc(50% - 275px);
}

.join button {
    position: absolute;
    right: 0;
    float: top;
    width: 100%;
    height: 50px;
    background: #34495e;
    font-family: Consolas, sans-serif;
    color: white;
    font-size: 25px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;

    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}

.join button:hover {
    background: #2c3e50;
    color: #cdcdcd;

    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}

.join button.off {
    right: 100%;
    opacity: 0;
}

.join input {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    border: none;
    margin-top: 20px;
    background: none;
    color: white;
    font-family: Consolas, sans-serif;
    color: white;
    font-size: 25px;
    text-align: center;
    border-bottom: 5px solid #34495e;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}

.join input:focus {
    border-bottom: 5px solid #2c3e50;

    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}

.join input.off {
    left: 100%;
    opacity: 0;
}

.join input.err {
    border-bottom: 5px solid #c0392b;
}